/*NU DONOR VIZ CSS*/
body{
    margin: 0 auto;
}
#container{
    height:100vh;
    width:100vw;
}
#header{
    height:8%;
    width:100%;
}
#header_title{
    max-width:300px;
    padding:10px 0px 0px 10px;
    float:left;
}
.header_link {
    font-size:12px;
    float:left;
    margin-left:400px;
    padding-top:20px;
    color: rgb(207,10,44);
    font-family:"helvetica neue";
    font-weight:bold;
    display:block;
}
a{
    text-decoration:none;
}
.header_link{
    border-bottom: 2px solid;
    color: rgb(207,10,44);
}
#search_bar{
    width: 160px;
    height:35px;
    background-color:lightgray;
    float:right;
    margin-top:15px;
    margin-right:60px;
    opacity:.5;
    font-family:'helvetica neue';
    font-size:11px;
}
#search_bar p{
    padding-left:50px;
}
.link{
    border-bottom: 1.5px solid rgb(207,10,44);
}

/*full network page styling*/
.explore{
    font-family: 'eames century modern';
    font-size: 11px;
    color: rgb(112,98,89);
    position:fixed;
    padding-top:25px;
    padding-left:350px;
}
#full_network{
    height:92%;
    width:1200px;
    float:left;
}
#right_sidebar_full{
    width:220px;
    float:left;
    height:92%;
}
#network_description{
    padding-top:40px;
    padding-right:20px;
    font-family:'eames century modern';
    font-size:14px;
    color: rgb(112,98,89);
}
#network_theme_nav{
    font-family: "eames century modern";
    font-size:11px;
    padding-top:60px;
}
#network_theme_navigation{
    font-family: "helvetica neue";
    font-size: 14px;
    font-weight: bold; 
}
#network_theme_navigation p{
    font-size:18px;
    padding-bottom:10px;
}


/*theme page styling*/
#left_sidebar{
    height:92%;
    width:350px;
    float:left;
}
#headline{
    padding-top:30px;
    padding-left:40px;
    padding-right:40px;
    font-family:"Helvetica Neue";
    font-size:24px;
    font-weight:bold;
}
#description{
    padding-left:40px;
    padding-right: 40px;
    font-family:"helvetica neue";
    font-size:12px;
    line-height: 18px;
    padding-bottom:50px;
}
#block_quote{
    width:25px;
    position:fixed;
    left:15px;
    
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    opacity:0;
    animation-delay: 3s;
}
#theme_quote{
    padding-left:40px;
    padding-right:30px;
    font-family: "eames century modern";
    font-size: 20px;
    font-weight:500;
    color:rgb(207,10,44);
    
/*
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    opacity:0;
    
*/
}
#quote_attr{
    clear:both;
    font-family:"helvetica neue";
    font-size:12px;
    color: rgb(207,10,44);
    font-style:oblique;
    padding-left:40px;
    
/*
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    opacity:0;
*/
}
/*
#quote.fade{
    animation-delay: 3s;
}
#quote_attr.fade{
    animation-delay: 3s;
}
*/
#theme_legend{
    width:90px;
    padding-left:250px;
    padding-top:30px;
}



#story_visual{
    height:92%;
    width:850px;
    float:left;
}
#story_focus{
    height:190px;
    width:190px;
/*    background-color: rgb(112,98,89);*/
/*    border: 1px solid rgb(112,98,89,.1);*/
    border-radius:50%;
    z-index:0;
    position:relative;
    top:75px;
    left:180px;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    opacity:0;
}
#story_focus:before, 
#story_focus:after{
    position:absolute;
    content:'';
    height:100%;
    width:100%;
    top:0%;
    left:0%;
    border: 1px solid rgba(112,98,89,.5);
    border-radius:50%;
    animation: grow 2.5s ease-out forwards;
/*    box-shadow: 0 0 5px rgba(112,98,89,.3);*/
}
#story_focus:after{
    animation-delay:1s;
}
@keyframes grow{
    0%{
        opacity:0;
        transform: scale(1)
    }
    30%{
        opacity:.5;
    }
    100%{
        transform: scale(5);
        opacity:0;
    }
}
#story_focus_pic{
    height:inherit;
    z-index:1;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    opacity:0;
}
.rings{
    z-index:1;
    position:absolute;
    width:850px;
    top:50px;
    
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    opacity:0;
}
.rings.first_ring{
    animation-delay: 1s;
}
.rings.second_ring{
    animation-delay: 2s;
}
@-webkit-keyframes fadeIn{ from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadeIn{ from {opacity:0;} to {opacity:1;}}
@keyframes fadeIn{ from {opacity:0;} to {opacity:1;}}

.story_entity{
/*
    width:25px;
    background-color:black;
*/
    
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    opacity:0;
    animation-delay:2s;
}
#cavs{
    width:50px;
    position:absolute;
    left:760px;
    top:410px;
}
#student_vets{
    width:50px;
    position:absolute;
    left: 860px;
    top:200px;
    z-index:1
}
#andy_CL3{
    width:70px;
    z-index:2;
    position:absolute;
    left:800px;
    top:560px;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    opacity:0;
    animation-delay:3s;
}
#anon_donor_CL3{
    width:60px;
    z-index:2;
    position:absolute;
    top:485px;
    left:920px;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    opacity:0;
    animation-delay:3s;
}
.first_links{
    animation: drawLink 2s linear forwards;
}
.draw_link{
    position:absolute;
    z-index:-1;
}
@keyframes drawLink{
    from {stroke-dasharray:0,100;}
    to {stroke-dasharray:100,100;}
}



#right_sidebar{
    height:92%;
    width:180px;
    float:left;
}
#theme_nav_direction{
    font-family: "eames century modern";
    font-size:12px;
    padding-left:20px;
    padding-top:60px;
}
#theme_navigation{
    padding-left:20px;
    font-family: "helvetica neue";
    font-size: 12px;
    font-weight: bold;
}
.theme_active{
    font-size:24px;
}


#story_navigation{
    padding-left:20px;
    padding-top:50%;
    font-family: "eames century modern";
    font-size:12px;
}
#story_navigation p{
    padding-bottom:10px;
}
#story_navigation img{
    width:50px;
    padding-bottom:15px;
}
.active_story{
    opacity:.3;
}



/*single node styling*/
#legend_sidebar{
    width:15%;
    float:left;
}
#single_node_diagram{
    width:50%;
    float:left;
    height:700px;
}
#info_sidebar{
    width:35%;
    float:left;
}
#node_legend{
    width:90px;
    padding-left:60px;
    padding-top:30px;
}
#legend_themes{
    padding-top:330px;
    padding-left:30px;
}
.legend_theme{
    font-family: "helvetica neue";
    font-weight:bold;
    color: rgba(112,98,89,.4);
    font-size: 12px;
    padding-bottom: 5px;
}

#display_name{
    font-family: "helvetica neue";
    font-size:24px;
    font-weight: bold;
}
#bio{
    text-align:right;
    width:60%;
    float:left;
    padding-top:15px;
    display:block;
    
    font-family: "eames century modern";
    font-size:12px;
}
#bio p{
    line-height: 18px;
}
#profile_pic{
    float:left;
    padding-left:20px;
}
#bio_img{
    height:120px;
}

#person_quote{
    clear:both;
    padding-top:50px;
}
#block_quote_single{
    width:45px;
    position:relative;
    float:left;
}
#person_quote p{
    font-family:"eames century modern";
    font-size:24px;
    color:rgb(207,10,44);
    font-weight: 500;
    padding-left:50px;
    padding-right:50px;
}








