/*NU DONOR VIZ CSS*/
body{
    margin: 0 auto;
}
#container{
    height:100vh;
    width:100vw;
}
#header{
    height:8vh;
    width:100%;
}
#header_title{
    height:7vh;
    padding:10px 0px 0px 10px;
    float:left;
}
.header_link {
    font-size:1.5vh;
    float:left;
    margin-left:20vw;
    padding-top:3.5vh;
    color: rgb(207,10,44);
    font-family:"helvetica neue";
    font-weight:bold;
    display:block;
}
a{
    text-decoration:none;
}
.header_link{
    border-bottom: 2px solid;
    color: rgb(207,10,44);
}
#search_bar{
    width: 16vw;
    height:3.5vh;
    background-color: rgba(112,98,89,.1);
    float:right;
    margin-top:3vh;
    margin-right:60px;
    font-family:'helvetica neue';
    font-size:1.25vh;
    display: flex;
}
#search_bar input{
    display:inline;
    background: rgba(0,0,0,0);
    border: none;
}
#search_bar input:focus{
    border: none;
    outline: none;
}
#search_icon{
    height:2.5vh;
    float:left;
    padding-top:.5vh;
    padding-left:.5vw;
}
#search_autocomplete_container {
    background: rgb(240, 239, 238);
    position: absolute;
    right: 20px;
    width: 130px;
    max-height: 100%;
    overflow-y: scroll;
    display: none;
    z-index: 999;
}
#search_autocomplete {
    padding: 0px;
}
.autocomplete_item {
    list-style-type: none;
    font-family:'helvetica neue';
    color: rgb(112, 98, 98);
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}

.link{
    border-bottom: 1.5px solid rgb(207,10,44);
}

/*full network page styling*/
.explore{
    font-family: 'eames century modern';
    font-size: 1.5vh;
    color: rgb(112,98,89);
    position:absolute;
    padding-top:3.5vh;
    padding-left:20vw;
}
#full_network{
    height:92vh;
    width:85vw;
    float:left;
}
#right_sidebar_full{
    height:92vh;
    width:15vw;
    float:left;
}
#network_description{
    padding-top:40px;
    padding-right:20px;
    font-family:'eames century modern';
    font-size:1.6vh;
    color: rgb(112,98,89);
    max-width:12vw;
}
#network_theme_nav{
    font-family: "eames century modern";
    font-size:11px;
    padding-top:60px;
}
.theme_link{
    font-family: "helvetica neue";
    font-weight: bold; 
    font-size:2.25vh;
    padding-bottom:5px;
}
.theme_close{
    font-family: "helvetica neue";
    font-weight: 100;
    font-size:1.5vh;
    color:gray;
    padding-left:30px;
}
.show, .hide{
    opacity:0;
}
.show{
    opacity:1;
}
.slideup, .slidedown{
    max-height:0;
    overflow-y:hidden;
    transition: max-height 0.2s ease-in-out;
}
.slidedown{
    max-height: 20vh;
}

.theme_description{
    padding-top:.5vh;
    padding-bottom:1vh;
}
.description{
    font-family: "eames century modern";
    font-size:1.25vh;
    max-width:11vw;
}
.theme_preview{
    width:3vw;
    padding-right:.5vw;
}
.explore_theme{
    font-family:"helvetica neue";
    font-size:1.25vh;
    color: rgb(207,10,44);
    font-weight: bold;
}




/*theme page styling*/
#left_sidebar{
    height:92vh;
    width:28vw;
    float:left; 
    position:relative;
}
.fadeIn{
    opacity: 0;
    
    animation: fadeIn 3s forwards;
}
@keyframes fadeIn{
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
#headline{
    padding-top:3vh;
    padding-left:2.5vw;
    padding-right:2.5vw;
    font-family:"Helvetica Neue";
    font-size:3vh;
    font-weight:bold;
}
#story{
    padding-left:2.5vw;
    padding-right: 2.5vw;
    font-family:"helvetica neue";
    font-size:1.5vh;
    line-height: 2vh;
    padding-bottom:5vh;
}
#block_quote{
    width:25px;
    left:15px;
}
#theme_quote{
    padding-left:2.5vw;
    padding-right:2.5vw;
    font-family: "eames century modern";
    font-size: 2.5vh;
    font-weight:500;
    color:rgb(207,10,44);
}
#quote_attr{
    clear:both;
    font-family:"helvetica neue";
    font-size:1.5vh;
    color: rgb(207,10,44);
    font-style:oblique;
    padding-left:2.5vw;
}

#theme_legend{
    width:7vw;
    padding-left:10vw;
    padding-top:15vh;
}

#story_visual{
    height:92vh;
    width:56vw;
    float:left;
    position:relative;
}

#right_sidebar{
    height:92vh;
    width:15vw;
    float:left;
    position:relative;
}
#theme_nav_direction{
    font-family: "eames century modern";
    font-size:1.25vh;
    padding-left:1.25vw;
    padding-top:5vh;
}
#theme_navigation{
    padding-left:1.25vw;
    font-family: "helvetica neue";
    font-size: 1.5vh;;
    font-weight: bold;
}
.theme_active{
    font-size:3vh;
}

#story_navigation{
    padding-left:1.25vw;
    padding-top:50%;
    font-family: "eames century modern";
    font-size:1.25vh;
}
#story_navigation p{
    padding-bottom:1.25vh;
}
#story_navigation img{
    width:3.5vw;
    padding-bottom:1.5vh;
}
.active_story{
    opacity:.3;
}





/*single node styling*/
#legend_sidebar{
    width:15vw;
    position:fixed;
    float:left;
}
#node_legend{
    width:7vw;
    padding-left:5vw;
    padding-top:10vh;
}
#legend_themes{
    padding-top:40vh;
    padding-left:3vw;
}
.legend_theme{
    font-family: "helvetica neue";
    font-weight:bold;
    color: rgba(112,98,89,.4);
    font-size: 1.5vh;
    padding-bottom: 5px;
}

#single_node_diagram{
    width:55vw;
    height:92vh;
    position:fixed;
    float:left;
}

#info_sidebar{
    width:30vw;
    float:right;
}
#display_name{
    font-family: "helvetica neue";
    font-size:3.5vh;
    font-weight: bold;
}
#bio{
    display:block;
}
#entity_bio_text{
    text-align:left;
    width:60%;
    float:left;
    padding-top:2vh;
    display:block;
    
    font-family: "helvetica neue";
    font-size:1.5vh;
    line-height: 2vh;
}
#person_bio_text{
    text-align:right;
    width:60%;
    float:left;
    padding-top:1.5vh;
    display:block;
    line-height: 2vh;
    
    font-family: "eames century modern";
    font-size:1.5vh;
}
#person_bio_text span{
    display:block;
}
#major #year{
    display:inline;
}
#vip, #hunt_100, #hunt_society{
    font-style:italic;
    color: rgb(207,10,44);
    display:inline;
}

#profile_pic{
    padding-right:2vw;
    float:right
}
#person_pic{
    height:15vh;
    border-radius: 50%;
}
#entity_pic{
    height:15vh;
}


#person_quote{
    clear:both;
    padding-top:5vh;
}
#block_quote_single{
    width:2.5vw;
    position:relative;
    float:left;
}
#person_quote p{
    font-family:"eames century modern";
    font-size:2.6vh;
    color:rgb(207,10,44);
    font-weight: 500;
    padding-left:3vw;
    padding-right:2.5vw;
}

#related_nodes{
    clear:both;
    width:100%;
    padding-top:10vh;
    display:block;
    padding-left:10vh;
}
.related_node {
    clear:both;
    padding-bottom:1.5vh;
}
#related_title{
    font-family:"eames century modern";
    font-size:2vh;
    display:block;
}
#related_nodes img{
    width: 3vw;
    float:left;
    padding-top:1vh;
    padding-bottom:2vh;
}
#related_nodes span{
    float:left;
    font-family:"helvetica neue";
    font-weight: bold;
    font-size:1.5vh;
    padding-top:2.5vh;
    padding-left:1.5vh;
}

/*
#video_player{
    padding-left:2vw;
    padding-top:20vh;
}
*/
#video{
    width:27vw;
    padding-top:10vh;
}






/*landing page styling*/
#landing_container{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#landing_text{
    z-index:4;
    position:absolute;
}

#landing_title{
    padding-top:10vw;
    padding-left:30vw;
    width:30vw;
}
#landing_title img{
    width:50vw;
}

#landing_enter{
    font-family: "helvetica neue";
    font-size:2vh;
    color: rgb(207,10,44);
    padding-left:40vw;
    padding-right:20vw;
}
#enter{
    padding-top:5vh;
    font-family: "helvetica neue";
    font-size:3vh;
    font-weight: bold;
    float:right;
    color: rgb(207,10,44);
    border-bottom: 4px solid;
    text-decoration: none;
}
#landing_video{
    position:fixed;
    width:100vw;
    z-index:-1;
}

/*mobile styling*/
#mobile_container{
    max-width:1024px;
    margin: 0 auto;
}
#mobile_header img{
    width:80vw;
    padding-top:2vh;
    padding-left: 10vw;
}
.theme{
    width:100vw;
    float:left;
    font-size:3vh;
    font-family: "helvetica neue";
    font-weight: bold;
    padding-left:10vw;
}
.theme span{
    border-bottom: .45vh solid red;
}
.mobile_theme_description{
    font-size:2vh;
    font-family:"eames century modern";
    font-weight:normal;
    color: rgb(64,64,64);
    width:80vw;
}